@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Breathing';
	src: url('/fonts/Breathing.ttf') format('truetype');
	font-style: normal;
	font-display: swap;
}

@layer base {
	h1,
	h2,
	h3,
	h4 {
		@apply font-bold tracking-tighter;
	}
	h1 {
		@apply text-4xl sm:text-5xl md:text-6xl;
	}
	h2 {
		@apply text-3xl sm:text-4xl;
	}
	h3 {
		@apply text-2xl sm:text-3xl;
	}
}

@layer utilities {
	.text-neon-blue {
		color: #00f0ff;
		text-shadow: 0 0 10px rgba(0, 240, 255, 0.7);
	}
}

.title {
	font-family: 'Breathing', sans-serif;
	color: #00f0ff;
	text-shadow: 0 0 10px rgba(0, 240, 255, 0.7);
}
